/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding: 40px 15px;
}

th[scope=row] {
  font-weight: normal;
}

pre {
  white-space: pre-wrap;
}

.session-frame {
  display: none;
}