<!DOCTYPE html>
<html th:lang-xmllang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Secured page</title>
</head>

<th:block layout:fragment="content">
  <div class="row">
    <div class="col-sm-12">

      <div class="page-header">
        <h1>Secured page</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <dl th:if="${userInfo}">
        <dt>User identifier</dt>
        <dd th:text="${userInfo.id}"></dd>
        <dt>Name</dt>
        <dd th:text="${userInfo.name}"></dd>
        <th:block th:unless="${#strings.isEmpty(userInfo.encryptedIdToken)}">
          <dt>Your encrypted id token</dt>
          <dd>
            <pre th:text="${userInfo.encryptedIdToken}"></pre>
          </dd>
        </th:block>
        <dt>Your id token</dt>
        <dd>
          <pre th:text="${userInfo.idToken}"></pre>
        </dd>
      </dl>

      <th:block th:if="${jwtClaimsSet}">
        <h2 id="claim-caption">Claims inside the id token</h2>
        <div class="table-responsive">
          <table class="table" aria-labelledby="claim-caption">
            <thead>
            <tr>
              <th scope="col">Claim</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="claim : ${jwtClaimsSet.claims}">
              <tr>
                <td th:text="${claim.key}"></td>
                <td th:text="${claim.value}"></td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>

      </th:block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Logout</h2>
      <p>
        <a th:href="@{/logout-local}">Local logout</a>. This ends the session in Spring Security.
      </p>
      <p>
        <a th:href="@{/logout}">OpenID Provider logout</a>. This ends the session at the OpenID Provider and the local session in Spring Security.
      </p>
    </div>
  </div>

  <iframe id="rpif" class="session-frame" th:src="${origin + '/rpiframe'}"></iframe>
  <iframe id="opif" class="session-frame" th:src="${openid_server + '/oauth/v1/checksession'}"></iframe>

</th:block>

</html>